#### Variables list for Docker helper-scripts by Drauku.
#
#### These variables must be filled in with your network, architecture, etc.
# Search for "REDACTED" and insert your own information for each variable found.
#
## IMPORTANT! -- DO NOT LEAVE EMPTY LINES IN THIS CONFIG FILE, OR THE '.env' REDIRECT WILL BREAK
## NOTE: values inside '' (single quotes) are not expanded, use "" (double quotes) to include variable expansion
#
## UserID and GroupID for the 'docker' username on the NAS
# TIP: UID/GID are obtained from the terminal by executing the command: 'id docker'
var_uid=1000
var_gid=1000
## Timezone Region and City, according to 'TZ database name' column here:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
var_tz="America/Chicago"
#
var_email="redacted"
#
## Internal network and docker system variables
var_host_name="redacted" # NOTE: This variable cannot be used to create a 'service' name in traefik-dynamic.yml
var_host_ip="192.168.1.redacted" # change to your NAS local area network IP
var_public_ip="" # OPTIONAL. Be careful using this unless you have a static ip, if it changes it could break routing.
#
## SUPER secret squirrel "admin:password" htpasswd basic auth (just kidding, make sure you change this)
# TIP: make your own with the command: 'htpasswd -n username_changeme password_changeme'
# NOTE: after using the `htpasswd` command, add a 2nd `$` for each generated `$` as shown in the below example:
var_basic_auth="admin:$$apr1$$a0m8c2x6$$NoASfJAKF6lVquLYx0Urh/"
#
## Media storage directory
data_dir=/mnt/data
media_folder="/share/Multimedia" # the `/share` prefix is QTS specific for all Shared Folders
media_audio_books="${media_folder}/audio/books"
media_audio_music="${media_folder}/audio/music"
media_print_books="${media_folder}/print/books"
media_video_series="${media_folder}/video/series"
media_video_movies="${media_folder}/video/movies"
#
## These entries must be domains at which you have dns nameserver permissions
var_domain1="redacted"
var_domain2="redacted"
var_domain3="redacted"
#
## External network resolution and access variables (cloudflare, namecheap, afraid.org, etc.)
# If your 'certresolver' and 'dns' services are not through cloudflare, check this link for setup requirements:
# https://docs.traefik.io/v2.0/https/acme/#providers
var_certresolver="cloudflare"
#
## DNS provider information
var_dns_provider="cloudflare"
var_dns1="9.9.9.9:53" # quad9 DNS
var_dns2="1.1.1.1:53" # cloudflare DNS1
var_dns3="1.0.0.1:53" # cloudflare DNS2
var_dns4="208.67.222.222:53" # OpenDNS
#
####################################################################################################
####################  VARIABLES AFTER THIS LINE PROBABLY SHOULD NOT BE CHANGED  ####################
####################################################################################################
#
## This is the internal docker socket network, powered by "tecnativa/docker-socket-network"
var_net_socket="docker_socket"
var_subnet_socket="172.20.0.0/"
var_gateway_socket="172.20.0.254"
## This is the edge network for connections outside of docker
var_net_exedge="external_edge"
var_subnet_exedge="172.21.0.0/16"
var_gateway_exedge="172.21.0.254"
## This is the internal only bridge network
var_net_rproxy="internal_only"
var_subnet_rproxy="172.22.0.0/16"
var_gateway_rproxy="172.22.0.254"
## This is the external bridge reverse proxy network
var_net_rproxy="reverse_proxy"
var_subnet_rproxy="172.23.0.0/16"
var_gateway_rproxy="172.23.0.254"
## This is the docker-swarm only 'overlay' network for external pointing swarm traffic
var_net_overlay="overlay"
var_subnet_overlay="10.20.0.0/16"
var_gateway_overlay="10.20.0.254"
## This is the docker-swarm only 'ingress' network for swarm management traffic
var_net_ingress="ingress"
var_subnet_ingress="10.21.0.0/16"
var_gateway_ingress="10.21.0.254"
#
## Folder heirarchy for Drauku's folder structure, modified from gkoerk's famously awesome folder structure for stacks.
docker_dir=/opt/docker
docker_folder="$HOME/docker"
docker_appdata="${docker_folder}/appdata"
docker_compose="${docker_folder}/compose"
docker_secrets="${docker_folder}/secrets"
docker_dkswarm="${docker_folder}/dkswarm"
# these last two folders can be mapped to a different location, update accordingly
docker_runtime="${docker_folder}/runtime" # map this to fast storage on your NAS, such as an SSD cache volume
docker_scripts="${docker_folder}/scripts" # map this to wherever you store the qnaphomelab-docker-scripts repository
#
## Ensure the 'var_script_vars' variable contents exactly references the copy of '.vars_docker.example' file. Default: '.vars_docker.env'
var_script_vars="${docker_scripts}/.vars_docker.env"
#
## This is the common name for all your docker compose config files. Default: 'compose.yml'
## WARNING: Do not change this unless you also change all your docker compose config file names.
var_configs_file="compose.yml"
#